.eventor-flow-daycard {
    /* background-color: white; */
    max-width: 45em;
    min-width: 22em;
}






div[class*="react-syntax-highlighter"] {
  position: relative;
  padding-left: 3rem !important;
}

/* Стиль для номеров строк */
div[class*="react-syntax-highlighter"] span.line-number {
  color: #777;
  display: inline-block;
  width: 2rem;
  text-align: right;
  margin-right: 0.5rem;
  user-select: none;
}

/* Фикс для отступа первой строки */
div[class*="react-syntax-highlighter"] span.line-number:first-of-type {
  margin-top: 0;
}