.flow-date-head-row-wrapper {
    margin-bottom: 2px;
}

.flow-date-head-row {
    display: grid;
    grid-template-columns: 150px auto;
    /* background-color: rgb(218, 218, 218); */
    backdrop-filter: blur(12px);
    transition: all 0.3s;
}

.flow-date-head-row > div {
    padding: 12px;
}

.flow-date-head-row-wrapper:hover > div {
    /* background-color: white; */

}

.evt-calendar-direction-switch {
    /* background-color: white; */
    padding: 3px;
    cursor: pointer;
}
.evt-calendar-direction-switch  * {
    font-size: x-large;
    color: white;

}
.evt-calendar-direction-switch:hover * {
    background-color: #0091ffd4;;
}