.mi-claim-card {
    border-radius: 3px;
    /* border: 1px solid var(--column-divider-color); */
    /* display: grid;
    grid-template-columns: 48px auto; */



    border-bottom: 1px solid var(--column-divider-color);
    display: grid;
    grid-template-columns: 48px auto;
    background: linear-gradient(85deg, rgba(255, 255, 255, 0) 0%, rgb(30 30 30 / 6%) 100%);
    border-right: 1px solid var(--column-divider-color);
}

.mi-claim-card-wrapper {
    margin-bottom: 12px;
    padding-right: 4px;
}

.mi-uncooxed {
    box-shadow: -3px 0px 0px 0px #0078d496;
    /* border */
    /* background: #b6cfd84f; */
}
.mi-uncooxed.mi-claim-card-wrapper {
    border: 1px solid #0078d496;
    border-radius: 6px;
}

.mi-release-stack {
    display: flex;
    flex-direction: column;
}