.input-contenteditable {
    white-space: normal; /* чтобы текст переносился по словам */
    word-break: break-word; /* чтобы слова переносились при необходимости */
    overflow-wrap: break-word;
    padding: 6px 12px 2px 0px;

}

.input-ced-editmode {
    border-bottom: 1px solid #526e87;
}


.input-edited-mode-ce {
    width: 100%;
    
     border-bottom: 1px solid #0083eb;
      border-radius: 0px;
      background: #e6f4ff;
      margin-top: 2px;
}
.input-edited-mode-ce:hover {
    background-color: white;
}