*{
    --row-main-bg-color:  #ffffff;
    --row-second-bg-color: #f5f5f5;


    --row-header-color: #53535323;
    --row-hovered-bg-color: #d5d5d592;

    /* #03a9f4 */
    --row-selected-color: #66C7F4;
    --row-selected-color_2: #1e88e5;
    /* #ffab91; */
    --row-self-accent-color: #FE938C;
    --row-self-accent-faded-color: #f5d5d3;
    --row-self-accent-color_2: #ff6b6b;
    /* #bde9d1 */
    --row-divider-color: #C1CAD6;
    --row-divider-color_2: #2ecc71;

    --table-border-divider-color: #e0e0e0;
    --warning-color: #ff9800;
    --error-color: #e74c3c;

    --drawer-bg-color: #ffffffa1;
    --drawer-gray-section-color: #00000017;

    --icon-color-std: #969ea8;
    --icon-color-std-hover: #4a4c50;

    --column-divider-color: #00000038;

    --block-background: #eee;

    --link-color: #1e88e5;
    --link-color-faded: #2d4153;

    --accent-arstel-color: #ee741d;

    --second-text-color: #4f4f4f;
    --third-text-color: #8d8d8d;
}

.mi-bg-base {
    background-color: var(--block-background);
}

.markdown-body--light {
  --color-canvas-default: #ffffff10;
  --color-text-primary: #000000;
  --color-fg-default: #4c535a;
  --color-prettylights-syntax-constant: #611c1c;
  --color-neutral-muted: #e7e5d8;
  --color-canvas-subtle: #e1ebec;
      --md-editor-box-shadow-color: #a2bac7;
  /* и другие переменные для светлой темы */
}
.markdown-body--light.w-md-editor-fullscreen {
    --color-canvas-default: #fff;
}
.wmde-markdown {
    font-size: unset !important;
}
.markdown-body--light.w-md-editor {
    background-color: white;
}

.comment-body-light {
    color: #4c535a;
        -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: unset !important;
    line-height: 1.5;
    word-wrap: break-word;
}
.mi-starred {
    box-shadow: 0px 0px 1px var(--accent-arstel-color), 0px 2px 34px -9px var(--accent-arstel-color);
}
.markdown-body--light table {
    background-color: white;
}

.mi-super-accent {
    box-shadow: 0px 0px 11px var(--accent-arstel-color), 0px 14px 36px -9px var(--accent-arstel-color);
}

body {
    background: conic-gradient(from 210deg, rgb(197, 187, 184) 0deg, rgb(197, 187, 184) 24deg, rgb(184, 181, 184) 24deg, rgb(184, 181, 184) 48deg, rgb(169, 175, 183) 48deg, rgb(169, 175, 183) 72deg, rgb(154, 168, 181) 72deg, rgb(154, 168, 181) 96deg, rgb(139, 161, 179) 96deg, rgb(139, 161, 179) 120deg, rgb(125, 152, 175) 120deg, rgb(125, 152, 175) 144deg, rgb(112, 144, 171) 144deg, rgb(112, 144, 171) 168deg, rgb(101, 135, 166) 168deg, rgb(101, 135, 166) 192deg, rgb(92, 126, 161) 192deg, rgb(92, 126, 161) 216deg, rgb(85, 117, 155) 216deg, rgb(85, 117, 155) 240deg, rgb(81, 108, 148) 240deg, rgb(81, 108, 148) 264deg, rgb(79, 99, 141) 264deg, rgb(79, 99, 141) 288deg, rgb(80, 90, 133) 288deg, rgb(80, 90, 133) 312deg, rgb(84, 83, 125) 312deg, rgb(84, 83, 125) 336deg, rgb(91, 75, 116) 336deg, rgb(91, 75, 116) 360deg);
    min-height: 100vh;
}