.ev-editor-modal-head {
    display: grid;
    grid-template-columns: auto 100px 50px 40px;
    grid-gap: 12px;
}

.ev-editor-modal-content-wrapper{
    min-height: 500px;
}

.evt-modal-type-trigger {
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mdxeditor-popup-container {
    z-index: 9999 !important;
}

.remark-toolbar-extra-button {
    font-size: 20px;
    float: right;
    cursor: pointer;
}
.remark-toolbar-extra-button * {
    transition: all 0.5s;
    
}

.remark-toolbar-extra-button:hover  * {
    color: #0091ffd4;
}
.remark-toolbar-extra-button:active  * {
    color: #003c6ad4;
}